{% extends 'index.html' %}
 {% block pagetitle %} Dashboard{% endblock pagetitle%}  
 
 {% block content%}
    <div class="dashboard-row2">
            <div< class="dashboard-patient">
                <h5><i class="bi patienticon bi-people"></i></h5>
                <div class="mt-2">
                    <span style="font-size: 12px">PATIENTS</span>
                    <h3>{{patientcount}}</h3>
                    <div></div>
                </div>
            </div<>

            <div< class="dashboard-medicines">
                <h5><i class="bi patienticon bi-prescription"></i></h5>
                <div class="mt-2">
                    <span style="font-size: 12px">MEDICINES</span>
                    <h3>{{medicinecount}}</h3>
                    <div></div>
                </div>
            </div<>

            <div< class="dashboard-consultations">
                <h4><i class="bi patienticon bi-clipboard2-pulse"></i></h4>
                <div class="mt-2">
                    <span style="font-size: 12px">CONSULTATIONS</span>
                    <h3>{{consultationscount}}</h3>
                    <div></div>
                </div>
            </div<>
    </div>

      <!--Table container-->
      <div class="container4">
      
        <div class="table-box2">
           <div class="adds"> <h4 style="color:#2ea86d;padding-top:10px;">Patients &nbsp&nbsp&nbsp</h4><h4 style="color:#2ea86d;padding-top:10px;padding-right:10px;"><a id="addpatients" href="{% url "patientlist" %}"><i class="bi bi-plus-circle-fill"></i></a></h4></div>
            <hr><br>
          {% include 'patientstable.html' %}
        </div>
        </div>

    <div class="dashboard-row">
        <div class="dashboard-tblconsultations">
            <h4 style="color:#2ea86d">Consultations</h4>
            <hr><br>

            <table id="consultation-table" class="patient-table table-striped ">
                <thead class="table-success">
                    <th>Patient Number</th>
                    <th>Common Concern</th>
                    <th>Diagnosis</th>
                    <th>Date/Time</th>
                </thead>
                {% for x in consultationtable %}
                    <tr>
                        <td>{{x.patient_code}}</td>
                        <td>{{x.remarks}}</td>
                        <td>{{x.diagnosis}}</td>
                        <td>{{x.created_at}}</td>
                    </tr>
                {% endfor %}
            </table>
            </div>
    </div>

    {% comment %} <div class="dashboard-row"> {% endcomment %}
  


 {%endblock%}