{% extends 'index.html' %}

{% block content%}

<div class="delete-prompt">
    <div class="title-form">Delete Record</div>        
    <div class="reg-rowdelete" style="padding:20px;">
        <h5>Are you sure to delete patient record?</h5>    
        <div>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" >Delete</button>&nbsp&nbsp 
                <a href="{% url "patientlist" %}" class="btn btn-secondary" >Back</a>               
            </form>
        </div>
    </div>

</div>

{%endblock%}
