
<script>
    $(document).ready(function(){
        $("#exampleModal").modal('show');
    });
</script>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="title-form bg-gradient">Record No. {{medicine_record.id}}</div>
        <div class="reg-row">
          <div class="medicine-col">
            <label class="reg-label">Medicine Name</label><br />
            <input class="medicine-input" value="" name="medname" required/>
          </div>
          <div class="medicine-col">
            <label class="reg-label">Dosage</label><br />
            <input class="medicine-input" name="dosage" style="width: 90%;" required/>
          </div>
      </div>
  
      <div class="reg-row">
          <div class="medicine-col">        
            <button class="btn-save" type="submit">save medicine</button>
          </div>   
      </div>
      </div>
    </div>
  </div>
