
{% extends 'patientinfo.html' %}
{% load custom_tags %}



 {% block btn-back %} <a href="javascript:history.go(-1)"><h4 style="color:black;"><i class="bi bi-arrow-left-square-fill"></i></h4></a>{% endblock btn-back %}
 {% block title %}
 <div class="lbl-details">Patient History Details</div>

 
 {% endblock title %}
 {% block content1 %}

 <div class="add_medicalhistorytable card">
    <label class="lbl-pname2">CONSULTATION DATE/TIME</label><br />
    <label class="value-pname">{{patient_history.created_at}} </label>
    </div>
    

<div class="add_medicalhistorytable  card">
<label class="lbl-pname2">DIAGNOSIS</label><br />
<label class="value-pname">{{patient_history.diagnosis}} </label>
</div>

<div class="add_medicalhistorytable  card">
    <label class="lbl-pname2">REMARKS</label><br />
    <label class="value-pname">{{patient_history.remarks}} </label>
    </div>
    {% endblock content1 %}

