{% extends 'index.html' %} 
{% block pagetitle %} Settings Page{% endblock pagetitle%}  

{% block content%}

<!--<div class="title-tab bg-gradient">Patient List</div>-->

<div class="container1">
  
   <!--Left Menus-->
        <div class="left-menu">
          <div class="active-title">Menu</div>
          <a href="{% url "medicationsettings" %}" class="active" >Medication Settings</a><hr>  
          <a href="{% url "registrationpage" %}" >Register New User</a><hr>    
          
        </div>

  <!--Add new patient form-->
  <div class="reg-area">

    <div class="title-form ">Medication Settings</div>

    <form method="POST" action="">
        {% csrf_token %}
   
        <div class="row m-3">
          <div class="col-md-4">
            <label for="inputCity" class="form-label">Dosage Unit List</label>
            <input type="text" class="form-control" placeholder="no. of days" name="daysqty_duration" >
            <input type="text" class="form-control" placeholder="duration label" name="dosage_unit">
            <button class="btn btn-save" name="addunit">Add Unit</button>
          </div>
          <div class="col-md-4">
            <table id="table-medications" class="table table-bordered content-table" style="margin-top:38px;">
              <thead class="table-success bg-gradient">
                <th>No. of Days</th>
                <th>Duration Label</th>
                <th>Remove</th>
              </thead>
              <tbody>
                {% for units in context  %}
                <tr>
                  <td>{{units.daysqty_duration}}</td>
                  <td>{{units.dosage_duration}}</td>
                  <td>

                    <a href= "{% url "deletedosageduration" units.id %}" style="padding:0 10px;margin:0;"
                      name="delete_presciption_item" type='submit'  id="link-delete">
                      <i class="bi bi-trash3"></i></a>

                  </td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <hr>
{% comment %} 
        <div class="row m-3">
          <div class="col-md-4">
            <label for="inputCity" class="form-label">Durations List</label>
            <input type="text" class="form-control" placeholder="" name="dosage_unit">
            <button class="btn btn-save" name="addunit">Add Unit</button>
          </div>
          <div class="col-md-4">
            <table id="table-medications" class="table table-bordered content-table" style="margin-top:38px;">
              <thead class="table-success bg-gradient">
                <th>List of Units</th>
              </thead>
              <tbody>
                {% for units in context  %}
                <tr>
                  <td>{{units.dosage_unit}}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div> {% endcomment %}
       
       
        </form>
       
  </div>
</div>



{%endblock%}
