<div class="title-form bg-gradient">Add New Patient</div>
<form method="POST">
    {% csrf_token %}
<div class="form-fields">
    
    <div class="reg-row">
        <div class="reg-col">
        <label class="reg-label">LASTNAME</label><br>
        <input class="reg-input" name="last_name"  required>
        </div>
        <div class="reg-col">
            <label class="reg-label">FIRSTNAME</label><br>
            <input class="reg-input" name="first_name" required>
        </div>
        <div class="reg-col">
            <label class="reg-label">MIDDLENAME</label><br>
            <input class="reg-input" name="middle_name"  required>
        </div>
    </div>

    <br>    
    <div class="reg-row">
        <div class="reg-col">
            <label class="reg-label">AGE</label><br>
            <input class="reg-input" name="age" size="10px" required>
        </div>
        <div class="reg-col">
            <label class="reg-label">BIRTHDAY</label><br>
            <input type="date" class="reg-input" name="bday" size="15px" required>
        </div>
        <div class="reg-col">
            <label class="reg-label">GENDER</label><br>
            <select class="reg-input" name="gender">
                <option selected>-options-</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
        </div>
        <div class="reg-col">
            <label class="reg-label">CIVIL STATUS</label><br>
            <input class="reg-input" name="civil_status" size="20px" required> 
        </div>
        <div class="reg-col">
            <label class="reg-label">CONTACT NUMBER</label><br>
            <input class="reg-input" name="contact_number" size="20px" required>
        </div>
    </div>

    <br>
    <div class="reg-row">        
        <div class="reg-col">
            <label class="reg-label">ADDRESS</label><br>
            <input class="reg-input" name="address" size="80%" required>
        </div>
    </div>

    <br>
    <div class="reg-row">        
        <div class="reg-col">
            <label class="reg-label">REMARKS</label><br>
            <textarea class="reg-input" cols="100%" name="remarks" required></textarea>
        </div>
    </div>

    <div class="reg-row">
        <div class="reg-col">        
            <button class="btn-save" type="submit">Save</button>
        </div>
    </div>
</form>
</div>