<div class="title-form">Add New Patient</div>
<form method="POST">
    {% csrf_token %}
<div class="form-fields">
    
   <h4>Personal Information</h4>
    <div class="reg-row">
        <div class="reg-col">
        <label class="reg-label">Lastname</label><br>
        <input class="reg-input" name="last_name" width="60%" required>
        </div>   
    </div>

    <div class="reg-row">
        <div class="reg-col">
        <label class="reg-label">Firstname</label><br>
        <input class="reg-input" name="first_name" required>
    </div>
    </div>

    <div class="reg-row">
        <div class="reg-col">
        <label class="reg-label">Middlename</label><br>
            <input class="reg-input" name="middle_name"  required>
        </div>
    </div>

    <br>    
    <div class="reg-row">
        <div class="reg-col">
            <label class="reg-label">Age</label><br>
            <input class="reg-input" name="age" size="10px" required>
        </div>
        <div class="reg-col">
            <label class="reg-label">Birthday</label><br>
            <input type="date" class="reg-input" name="bday" size="15px" required>
        </div>
        <div class="reg-col">
            <label class="reg-label">Gender</label><br>
            <select class="reg-input p-2" name="gender">
                <option selected>-options-</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
        </div>
       
    </div>

    <div class="reg-row">
        <div class="reg-col">
            <label class="reg-label">Nationality</label><br>
            <input class="reg-input" name="nationality" size="20px" required> 
        </div>
        <div class="reg-col">
            <label class="reg-label">Civil Status</label><br>
            <input class="reg-input" name="civil_status" size="20px" required> 
        </div>
       
    </div>
    
    <br><br>

    <h4>Contact Information</h4>
    <div class="reg-row">        
        <div class="reg-col">
            <label class="reg-label">Contact Number</label><br>
            <input class="reg-input" name="contact_number" size="20px" required>
        </div>
    </div>

    <br>
    <div class="reg-row">        
        <div class="reg-col">
            <label class="reg-label">Address</label><br>
            <input class="reg-input" name="address" size="80%" required>
        </div>
    </div>


    <br><br>

    <h4>Medical Information</h4>
    <div class="reg-row">
        <div class="reg-col">
        <label class="reg-label">Senior ID No.</label><br>
        <input class="reg-input" name="srID" width="60%" value ='none' required>
        </div>  
        <div class="reg-col">
            <label class="reg-label">PWD ID No.</label><br>
            <input class="reg-input" name="pwdID" width="60%" value ='none' required>
            </div> 
    </div>


    <br>
    <div class="reg-row">        
        <div class="reg-col">
            <label class="reg-label">Common Concern</label><br>
            <textarea class="reg-input mb-3" cols="100%" name="remarks" required></textarea>
        </div>
    </div>

    <div class="reg-row">
        <div class="reg-col">        
            <button class="btn-save" style="width:130px;" type="submit">Save</button>
            <a href="javascript:history.go(-1)" style="width:130px;" class="btn btn-secondary" >Back</a>    
        </div>
    </div>
</form>
</div>