{% extends 'index.html' %}
{% load custom_tags %}
{% block content %}

<div class="title-form bg-gradient">Patient Information</div>

<div class="info-row1">
  <div class="col1-info">
    <label class="lbl-pname">PATIENT NAME : &nbsp &nbsp </label>
    <label class="value-pname"
      >{{patient_record.first_name}} {{patient_record.middle_name}}
      {{patient_record.last_name }}
    </label>
  </div>

  <div class="col2-info">
    <label class="lbl-pname">PATIENT NUMBER : &nbsp &nbsp</label>
    <label class="value-pname">{{patient_record.patient_code}} </label>
  </div>
</div>

<div class="info-row2">
  <div class="detials-container">
    <div class="pdetails-head">
      <div class="lbl-details">Details</div>
    </div>

    <div class="pdetails-body">
      <label class="lbl-pname">ADDRESS</label><br />
      <label class="value-pname">{{patient_record.address}} </label>
    </div>

    <div class="pdetails-body">
      <label class="lbl-pname">AGE</label><br />
      <label class="value-pname">{{patient_record.age}} </label>
    </div>

    <div class="pdetails-body">
      <label class="lbl-pname">BIRTHDAY</label><br />
      <label class="value-pname">{{patient_record.bday}} </label>
    </div>

    <div class="pdetails-body">
      <label class="lbl-pname">CIVIL STATUS</label><br />
      <label class="value-pname">{{patient_record.civil_status}} </label>
    </div>

    <div class="pdetails-body">
      <label class="lbl-pname">GENDER</label><br />
      <label class="value-pname">{{patient_record.gender}} </label>
    </div>

    <div class="pdetails-body">
      <label class="lbl-pname">CONTACT NUMBER</label><br />
      <label class="value-pname">{{patient_record.contact_number}} </label>
    </div>
  </div>

  <div class="details-history">
    <div style="background-co"
    <div class="phistory-head">
      <div class="lbl-details">Medical History</div>
      <div class="add-medication"><a href="#"><h4><i class="bi bi-plus-circle-fill"></i></h4></a></div>
    </div>

    <div class="medicalhistorytable">
            <!--MEDICINES TABLE-->
            {% Medhistory patient_record.patient_code as records %}
            <table id="table-medications" class="table table-sm table-bordered">
              <thead class="table-primary">
                <th>Medical History</th>
                <th>Date/Time Consulted</th>
            </thead>
            
            {% for record in records %}
            <tr>
            <td>{{record.remarks}}</td>
            <td>{{record.created_at}}</td>
            </tr>
            {% endfor %}             
            </table>
            <!--end of MEDICINES TABLE-->
    </div>
    <div class="phistory-head">
      <div class="lbl-details">Medications</div>
      <div class="add-medication"><a href="#"><h4><i class="bi bi-printer-fill"></i></h4></a></div>
    </div>
    
    <div class="medicalhistorytable">
    <table id="table-medications" class="table table-sm table-bordered">
      <thead class="table-primary">
        <tr>
        <th rowspan="2">Quantity</th>
        <th rowspan="2">Medication/Preparation</th>
        <th rowspan="2">Dosage</th>
        <th colspan="3">Schedule of Intake</th>
        </tr>
        <tr>
          <th>7:00 AM</th>
          <th>1:00 PM</th>
          <th>7:00 PM</th>          
          </tr>      
      </thead>
        
      <tbody>
        {% if medicationrecord %}        
        {% for medrecord in medicationrecord %}
        <tr>
        <td>{{medrecord.quantity}}</td>
        <td>{{medrecord.medicine_name}}</td>
        <td>{{medrecord.dosage}}</td>
        <td>{{medrecord.morning}}</td>
        <td>{{medrecord.noon}}</td>
        <td>{{medrecord.evening}}</td>                      
        </tr>
        {% endfor %}
        {% else %}
        <td colspan="6">No current prescription data</td>
        {% endif %}
      </tbody>

    </table>
    </div>
    

  </div>
</div>

{% endblock content %}
