{% extends 'patientinfo.html' %}
{% load custom_tags %}
{% load static %}

{% block btn-back %} <a href="{% url "patientinfo" pID%}">
  <h4 style="color:black;"><i class="bi bi-arrow-left-square-fill"></i></h4>
</a>{% endblock btn-back %}
{% block title %}
<div class="lbl-details ">
  <h3>Patient History Details &nbsp<a href="{% url "editmedicalhistory" pID patient_history.id  %}"><i
        class="bi iconcolor bi-pencil-square"></i></a></h3>
</div>

{% endblock title %}
{% block content1 %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url "patientmedinfo_geninfo" pID patient_history.id %}">General
      Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url "patientmedinfo_medications" pID patient_history.id %}">Medications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url "patientmedinfo_attachments" pID patient_history.id %}">Attachments</a>
  </li>

</ul>

<!-- PRESCRIPTION FORM-->

<form method="POST">
  {% csrf_token %}
  <a class="btn btn-outline-success" style="margin-left:20px;margin-top:10px;" type="button" data-bs-toggle="modal"
    data-bs-target="#searchmedicine">
    <i class="bi bi-search"></i> Search medicine</a>
  <a class="btn btn-secondary" style="margin-left:20px;margin-top:10px;" type="button" data-bs-toggle="modal"
    data-bs-target="#print_report">
    <i class="bi bi-printer-fill"></i> Print Prescription</a>

  {% if medselected %}

  <div class="row m-3">
    <div class="col-md-4">
      <label class="form-label">Medicine/Preparation</label>
      <input type="text" class="form-control  mt-2" placeholder="medicine name" value="{{medselected.medname}}"
        name="medname">
    </div>
    <div class="col-md-4">
      <label for="inputZip" class="form-label"></label>
      <input type="text" class="form-control mt-3" placeholder="generic brand" value="{{medselected.medgenname}}"
        name="medgenname">
    </div>
    <div class="col-md-4">
      <label for="inputZip" class="form-label"></label>
      <input type="text" class="form-control mt-3" placeholder="ex. mg/ml" value="{{medselected.medsize}}"
        name="medsize">
    </div>
  </div>

  {% else %}

  <div class="row m-3">
    <div class="col-md-4">
      <label class="form-label">Medicine/Preparation</label>
      <input type="text" class="form-control  mt-2" placeholder="medicine name" name="medname">
    </div>
    <div class="col-md-4">
      <label for="inputZip" class="form-label"></label>
      <input type="text" class="form-control mt-3" placeholder="generic brand" name="medgenname">
    </div>
    <div class="col-md-4">
      <label for="inputZip" class="form-label"></label>
      <input type="text" class="form-control mt-3" placeholder="ex. mg/ml" name="medsize">
    </div>
  </div>

  {% endif %}

  <div class="row m-3">
    <div class="col g-3">
      <label for="inputCity" class="form-label">Transcription(Dosage)</label>
      <div class="input-group mb-3">
        <input type="number" class="form-control" id="inputCity" placeholder="quantity" name="medqty">
        <div class="input-group-append">
          <select id="inputState" class="form-select" name="medtype">
            <option selected>Tablet</option>
            <option>Capsule</option>
          </select>
        </div><span style="font-size:30px">/</span>
        <div class="input-group-append">
          <select id="inputState" class="form-select" name="perduration">
            <option selected>Day</option>
            {% for unit in dosageduration %}
            <option>{{unit.dosage_duration}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="col g-3">
      <label for="inputZip" class="form-label">Duration</label>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="ex. 1,2,3 . . ." name="durationqty">

        <div class="input-group-append">
          <select id="inputState" class="form-select" name="medduration">
            <option selected>Day(s)</option>
            {% for unit in dosageduration %}
            <option>{{unit.dosage_duration}}(s)</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

  </div>

  <div class="row m-3">
    <div class="col-md-4">
      <label for="inputCity" class="form-label">Morning</label>
      <input type="number" class="form-control" id="inputCity" placeholder="" name="am">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Noon</label>
      <input type="number" class="form-control" id="inputCity" placeholder="" name="noon">
    </div>
    <div class="col-md-4">
      <label for="inputZip" class="form-label">Evening</label>
      <input type="number" class="form-control" id="inputCity" placeholder="" name="pmvalue">
    </div>
  </div>

  <div class="m-3">
    <button class="btn btn-save" type="submit" name="testsave">Save</button>
  </div>
</form>

<!--PATIENT PRESCRIPTION TABLE-->
<div class="medicalhistorytable">
  <table id="table-medications" class="table table-sm table-bordered content-table">
    <thead class="table-success bg-gradient">
      <tr>
        <th rowspan="2">Quantity</th>
        <th rowspan="2">Medication/Preparation</th>
        <th rowspan="2">Dosage</th>
        <th colspan="3">Schedule of Intake</th>
        <th rowspan="2">Actions</th>
      </tr>
      <tr>
        <th>7:00 AM</th>
        <th>1:00 PM</th>
        <th>7:00 PM</th>
      </tr>
    </thead>
    <tbody>
      {% if prescriptionrecord %}
      {% for medrecord in prescriptionrecord %}
      <tr>
        <td>{{medrecord.totalquantity}}</td>
        <td>{{medrecord.medname}} ({{medrecord.medgenname}}) {{medrecord.medsize}}</td>
        <td>{{medrecord.medqty}} {{medrecord.medtype}}(s) a {{medrecord.perduration}}</td>
        <td>{{medrecord.morning}}</td>
        <td>{{medrecord.noon}}</td>
        <td>{{medrecord.evening}}</td>
        <td>

          <a href="{% url "deleteitemprescription" patient_record.id medrecord.id patient_history.id %}"
            style="padding:0 10px;margin:0;" name="delete_presciption_item" type='submit' value="{{medrecord.id}}"
            id="link-delete">
            <i class="bi bi-trash3"></i></a>

        </td>
      </tr>
      {% endfor %}
      {% else %}
      <td colspan="6">No current prescription data.</td>
      {% endif %}
    </tbody>
  </table>
</div>
<!--end of PATIENT PRESCRIPTION TABLE-->

<!-- Modal -->
<div class="modal fade sm" id="print_report" data-bs-backdrop="static" tabindex="-1" aria-labelledby="print_report"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">
      <div class="title-form">Print Prescription</div>
      <form action="" method="POST" target="_blank">
        {% csrf_token %}

        <div class="form-check m-4">
          <input name="sigchecked" class="form-check-input" type="checkbox" value="with signature" id="flexCheckChecked"
            checked>
          <label class="form-check-label" for="flexCheckChecked">
            with signature
          </label>
        </div>

        <div class="reg-row">
          <div class="medicine-col" align="right" style="margin-bottom:15px;">

            <button class="btn-save" type="submit" name="print_prescription">Print</button>
            <button style="margin-right:20px;" type="button" class="btn btn-secondary"
              data-bs-dismiss="modal">Close</button>

          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<div class="modal fade sm" id="searchmedicine" data-bs-backdrop="static" tabindex="-1" aria-labelledby="print_report"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">

    <div class="modal-content">
      <div class="title-form2">

        <span><i class="bi bi-search"></i> &nbsp Search Medicine</span>
        <span class="close_button"> <a href="" data-bs-dismiss="modal" class="btn btn-danger btn-sm">CLOSE</a></span>
      </div>

      <div class="m-3">

        <!--MEDICINES TABLE-->
        <table id="medicine-table" class="medicine-tables content-table ">
          <thead>

            <th>Medicine Name</th>
            <th>Generic Name</th>
            <th>Dosage</th>
            <th>Actions</th>
          </thead>

          <tbody>
            {% for meds in medicinedata %}
            <tr>

              <td>{{meds.medname}}</td>
              <td>{{meds.medgenname}}</td>
              <td>{{meds.medsize}}</td>
              <td id="actions_cell">

                <form action="{% url "patientmedinfo_medications" pID patient_history.id meds.id%}" method="POST">
                  {% csrf_token %}
                  <button type='submit' name="select_medicine" id="link-select">select medicine</button>
                </form>
              </td>
            </tr>
            {% endfor %}

          </tbody>

        </table>

        </form>

      </div>
    </div>

  </div>

</div>

<!-- END OF PRESCRIPTION FORM-->

{% endblock content1 %}