{% extends 'base.html' %}

{% block content %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add patient</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          First Name : <input/> <br/>
          Middle Name :<input/><br/>
          Last Name :<input/><br/>
        </div>
        
      </div>
    </div>
  </div>
{% comment %} <div class='patientdetails-main'>
    <div style='text-align: center;'>
        <h3>Patient Record</h3>
    </div>
   <div class='geninfo'>
    
    <div class='greentip'></div><div class='patientinfo' style='width: 800px;'>PATIENT NAME:<div>Mark Dave A. Dizon</div></div>
    <div class='greentip' style="margin-left: 843px;"></div><div class='patientinfo' style='width: 300px;'>Patient Number</div>
   </div>
</div> {% endcomment %}
{% endblock %}