
<!--PATIENTS TABLE-->
    <table id="patienttable" class="patient-tables">
      <thead >
        <th>Patient Code</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Date Added No.</th>
        <th>Actions</th>
      </thead>
  
      <tbody>
        {% for x in patientsdata %}
        <tr>
          <td>{{x.patient_code}}</td>
          <td>{{x.last_name}}</td>
          <td>{{x.first_name}}</td>
          <td>{{x.middle_name}}</td>
          <td>{{x.gender}}</td>
          <td>{{x.age}}</td>
          <td>{{x.created_at}}</td>
          <td>
            <a href="{% url 'patientinfo' x.id %}" id="link-view"><i class="bi bi-eye"></i></a>
            
            <a href="{% url 'deletepatient' x.id %}" id="link-delete"><i class="bi bi-trash3"></i></a>
          </td>          
        </tr>
        {% endfor %}
      </tbody>
    </table>
