@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    font-family: "Montserrat", sans-serif;
  
}

body{
    background-color: #e7e9eb;
}

#navgreen {
  background: radial-gradient(circle at 7.1% 15.6%, rgb(22, 160, 133) 0%, rgb(64, 240, 206) 100.3%);
  
}

main {
    position: absolute;
    top: 80px;
    left: 320px;
    width:70lvw;
    height: 100%;
    background-color: white;  
    padding: 1em;
    color: #555;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 1px;
    border-color: #b9b9b9;
    
}

#navgreen a {
    color: #ffffff;
}

.sidebar {
    margin-top: 50px;
    padding: 0;
    width: 300px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  /* .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  } */
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background: linear-gradient(109.6deg, rgb(9, 154, 151) 11.2%, rgb(21, 205, 168) 50%);
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .content-title {
    position: absolute;
    font-size: x-large;
    background-color:rgb(217, 217, 218,.2);
    border-radius: 8px 8px 0 0;
    width: 100%;
    padding: 0;
    padding: 10px;
    top: 0;
    left: 0;
  }

  .patient-table {
    padding-top: 20px;
    align-items: center;
  }

  .patientdetails-main {
    position: absolute;
    align-content: center;
    top: 70px;
    left: 320px;
    width:70lvw;
    height: 100%;
    padding: 1em;
    color: #555;

}

.patientinfo {
  display: inline-block;
  position: relative;
  color: green;
  background-color: white;
  padding: 20px;
  border-radius: 5px 0 0 5px;
  width: 500px;
  margin-right: 40px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 13px;
  


}

.greentip{
  display: inline-block;
  position:absolute;
  left: 10px;
  padding: 0;
  margin: 0;
  background: radial-gradient(circle at 7.1% 15.6%, rgb(22, 160, 133) 0%, rgb(64, 240, 206) 100.3%);
  border-radius: 5px 0 0 5px;
  padding: 30px;

}

.gradient-green {
  background: radial-gradient(circle at 7.1% 15.6%, rgb(22, 160, 133) 0%, rgb(64, 240, 206) 100.3%);
}

