
{% extends 'patientinfo.html' %}
{% load custom_tags %}



 {% block btn-back %} <a href="javascript:history.go(-1)"><h4 style="color:black;"><i class="bi bi-arrow-left-square-fill"></i></h4></a>{% endblock btn-back %}
 {% block title %}

 <div class="lbl-details">Add Record</div>

 
 {% endblock title %}
 {% block content1 %}
<div class="add_medicalhistorytable">
<form method='POST' action='' >
    {% csrf_token %}

    <label class="label_1">Blood Pressure:</label>
    {{pHistoryForm.bp}}
    <br>

    <label class="label_1">Common Concern:</label>
    {{pHistoryForm.remarks}}
    <br>

    <label class="label_1">Objective/s:</label>
    {{pHistoryForm.objectives}}
    <br>

    <label class="label_1">Assessment/Diagnosis:</label>
    {{pHistoryForm.diagnosis}}
    <br>

    <label class="label_1">Plans and Recommendations:</label>
    {{pHistoryForm.plans_recommendations}}


    
 <br>
    

    <button  class="btn btn-success w-25 mt-2 "  type='submit' name='saveattachments'>Save</button>
</form>
</div>
    {% endblock content1 %}

